.superior{
    width: 100%;
    height: 50px;
    background: #47aad1;
    color: white;
    padding: 6% 0% 7% 0%;
    display: flex;
    z-index: 1;
}

.superior .text{
    font-size: 180%;
    margin-left: 7.5%;
    width: 76%;
    margin-top: -3%;
}

.superior .logo{
    width: 25%;
    margin-top: -4%;
}

.logo img{
    width: 55%;
}

.contenido{
    margin-top: -5%;
    width: 85%;
    border: 1px solid lightgray;
    background: #fff;
    z-index: 2;
    border-radius: 10px;
}

.boton{
    text-align: center;
    width: 85%;
    margin-top: -3%;
    z-index: 3;
}

.boton a:first-child{
    margin-right: 8%;
}

.boton a{
    background: #47aad1;
    padding: 2% 9% 2% 9%;
    border-radius: 15px;
    color: white;
}

.descripcion{
    margin-top: 15%;
    width: 86%;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 2% 0% 2% 6%;
    box-shadow: 0px 0px 1px 1px lightgray;
    font-size: 14px;
}

.image{
    width: 100%;
    height: auto;
}

.image img{
    margin-top: 15%;
    margin-bottom: 25%;
    width: 90%;
    height: auto;
    margin-left: 5%;
    filter: drop-shadow(3px 6px 7px rgb(97, 91, 91));
}