.inferior {
    width: 100%;
    height: 35vh;
    background: #47aad1;
    margin-top: -50%;
    z-index: 1;
}

.contenido {
    text-align: center;
    width: 80%;
    margin-top: 12%;
    background: white;
    border: 1px solid #bdcacf;
    box-shadow: 0px 0px 4px 1px lightgray;
    z-index: 2;
    position: relative;
    border-radius: 12px;
    color: #47aad1;
}

.contenedor {
    width: 100%;
}

.logo {
    width: 50%;
    margin-left: 25%;
    z-index: 3;
    box-shadow: 0px 0px 10px 25px white
}

.logo img {
    width: 80%;
    margin-top: -36%;
}

.contenido input:last-child {
    margin-bottom: 8%;
}

.contenido input, .contenido textarea {
    width: 80%;
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    border: 1px solid lightgray;
}

::placeholder {
    color: #47aad1;
}

#enviar {
    color: #47aad1;
    border-radius: 10px;
    padding: 2% 6% 2% 6%;
    width: 10%;
    margin-left: 32%;
    background: white;
    z-index: 2;
    border: 1px solid lightgray;
}

.boton {
    width: 80%;
    margin-top: 4%;
    z-index: 2;
}